.login {
    background-color: rgb(26, 53, 235);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }


.label_error
{
  font-size:small;
  color: red;
}

.goToSignup {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-size: 15px;
  color: lightgray;
}

a {
  font-size: 20px;
  color: rgb(226, 189, 247);
}
a:visited {
  color: rgb(226, 189, 247);
}
a:hover, a:active, a:focus {
  color: rgb(156, 111, 111);
}

.ddlLanguage{
  background-color: antiquewhite;
  float: right;
  margin-right: 10px;
}
